# Ignore all log files
logs/*.log

# Ignore rotated logs (from winston-daily-rotate-file)
logs/*.gz

# Keep the logs folder itself (via .gitkeep)
!logs/.gitkeep

# Node dependencies
node_modules/

# Environment variables
.env

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
